name: Groveman Crashlytics

on:
  pull_request:
    paths:
      - "scripts/**"
      - "packages/groveman_crashlytics/**"
      - ".github/workflows/groveman_crashlytics.yaml"

jobs:
  build:
    defaults:
      run:
        working-directory: packages/groveman_crashlytics

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: subosito/flutter-action@v2

      - name: Install Dependencies
        run: flutter pub get

      - name: Format
        run: dart format --set-exit-if-changed .

      - name: Analyze
        run: flutter analyze lib test example

      - name: Run Tests
        run: flutter test --no-pub --coverage --test-randomize-ordering-seed random

      - name: Check Code Coverage
        uses: VeryGoodOpenSource/very_good_coverage@v3
        with:
          path: packages/groveman_crashlytics/coverage/lcov.info

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          directory: packages/groveman_crashlytics/coverage
          flags: groveman_crashlytics
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
          
  pana:
    defaults:
      run:
        working-directory: packages/groveman_crashlytics

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: subosito/flutter-action@v2

      - name: Install Dependencies
        run: |
          flutter packages get
          flutter pub global activate pana

      - name: Verify Pub Score
        run: ../../scripts/verify_pub_score.sh
